<div class="container2 padder">
    <h3>Cost Inflation Index</h3>
    <p>Formula for computing indexed cost is (Index for the year of sale/ Index in the year of acquisition) x cost.</p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>FINANCIAL YEAR</th>
                <th>COST INFLATION INDEX</th>
                <th>FINANCIAL YEAR</th>
                <th>COST INFLATION INDEX</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1981 – 82</td>
                <td>100</td>
                <td>1997 – 98</td>
                <td>331</td>
            </tr>
            <tr>
                <td>1982 – 83</td>
                <td>109</td>
                <td>1998 – 99</td>
                <td>351</td>
            </tr>
            <tr>
                <td>1983 – 84</td>
                <td>116</td>
                <td>1999 – 00</td>
                <td>389</td>
            </tr>
            <tr>
                <td>1984 – 85</td>
                <td>125</td>
                <td>2000 – 01</td>
                <td>406</td>
            </tr>
            <tr>
                <td>1985 – 86</td>
                <td>133</td>
                <td>2001 – 02</td>
                <td>426</td>
            </tr>
            <tr>
                <td>1986 – 87</td>
                <td>140</td>
                <td>2002-03</td>
                <td>447</td>
            </tr>
            <tr>
                <td>1987 – 88</td>
                <td>150</td>
                <td>2003 – 04</td>
                <td>463</td>
            </tr>
            <tr>
                <td>1988 – 89</td>
                <td>161</td>
                <td>2004 – 05</td>
                <td>480</td>
            </tr>
            <tr>
                <td>1989 – 90</td>
                <td>172</td>
                <td>2005 – 06</td>
                <td>497</td>
            </tr>
            <tr>
                <td>1990 – 91</td>
                <td>182</td>
                <td>2006 – 07</td>
                <td>519</td>
            </tr>
            <tr>
                <td>1991 – 92</td>
                <td>199</td>
                <td>2007 – 08</td>
                <td>551</td>
            </tr>
            <tr>
                <td>1992 – 93</td>
                <td>223</td>
                <td>2008 – 09</td>
                <td>582</td>
            </tr>
            <tr>
                <td>1993 – 94</td>
                <td>244</td>
                <td>2009 – 10</td>
                <td>632</td>
            </tr>
            <tr>
                <td>1994 – 95</td>
                <td>259</td>
                <td>2010 – 11</td>
                <td>711</td>
            </tr>
            <tr>
                <td>1995 – 96</td>
                <td>281</td>
                <td>2011 – 12</td>
                <td>785</td>
            </tr>
            <tr>
                <td>1996 – 97</td>
                <td>305</td>
                <td>2012-13</td>
                <td>852</td>
            </tr>
            <tr>
                <td>2013-2014</td>
                <td>939</td>
                <td>2014 – 2015</td>
                <td>1024</td>
            </tr>
        </tbody>
    </table>
</div>