<div class="container2 padder">
    <h3>Contact Us</h3>
    <div class="row">
        <div class="col-xs-5">
            <h4>Email Id</h4>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>Advertising</th>
                        <td><a href="mailto:advertising@indiavaluehomes.com">advertising@indiavaluehomes.com</a></td>
                    </tr>

                    <tr>
                        <th>General Enquiries</th>
                        <td><a href="mailto:enquiry@indiavaluehomes.com">enquiry@indiavaluehomes.com</a></td>
                    </tr>

                    <tr>
                        <th>Jobs</th>
                        <td><a href="mailto:careers@indiavaluehomes.com">careers@indiavaluehomes.com</a></td>
                    </tr>


                    <tr>
                        <th>Feedback</th>
                        <td><a href="mailto:feedback@indiavluehomes.com">feedback@indiavluehomes.com</a></td>
                    </tr>


                    <tr>
                        <th>Investor Relations</th>
                        <td><a href="mailto:investors@indiavaluehomes.com">investors@indiavaluehomes.com</a></td>

                    </tr>
                </tbody>
            </table>
<h4>Address</h4>
<p>701/702 Pooja Building, Plot No.66, TPS III,<br>
Golibar 7th Road, Opp.CCD, <br>
Santacruz (E), Mumbai 400 055</p>
        </div>
        <div class="col-xs-5 col-xs-offset-2">
            <h4>Submit query</h4>
            <p>
                <input type="text" class="form-control" placeholder="Name*" required ng-model="contactname">
            </p>
            <p>
                <input type="email" class="form-control" placeholder="Email Address*" ng-model="contactemail" required>
            </p>
            <p>
                <input type="tel" class="form-control" placeholder="Telephone" ng-model="contactphone">
            </p>
            <p>
                <textarea name="" class="form-control" placeholder="Comment*" ng-model="contactcomment"></textarea>
            </p>
            <a class="btn btn-primary pull-right" href="" ng-click="submitcontact(contactname,contactemail,contactphone,contactcomment)">Submit</a>
        </div>
    </div>
</div>