<div class="row">

    <div class="col-sm-4">
        
        <div class="form-group">
            <label for="exampleInputEmail1">Sq Feet</label>
            <input type="text" class="form-control" placeholder="Sq Feet" ng-model="converter.feet" ng-keyup="feetchange(converter.feet);">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Acre</label>
            <input type="text" class="form-control" placeholder="Acre" ng-model="converter.acre" ng-keyup="acrechange(converter.acre);" >
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Sq Meter</label>
            <input type="text" class="form-control" placeholder="Sq Meter" ng-model="converter.meter" ng-keyup="meterchange(converter.meter);">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Cents</label>
            <input type="text" class="form-control" placeholder="Cent" ng-model="converter.cent" ng-keyup="centchange(converter.cent);">

        </div>
       
    </div>




</div>
