<div class="container2 padder">
    <h3>Disclaimer</h3>
    <p>This Portal has been compiled in good faith by Indiavlauehomes and every effort is made to provide correct and reliable information in the portal. However, no representation is made or warranty given (either express or implied) as to the completeness or accuracy of the information it contains. Users are, therefore, requested to verify the information before acting upon it. Indiavaluehomes disclaims all responsibility for any loss, injury, liability or damage of any kind resulting from and arising out of, or any way related to</p>
    <ul>
        <li>Any errors in or omissions from the portal and its contents, including but not limited to technical inaccuracies and typographical errors.</li>
        <li>Any 3rd party web sites or contents therein directly or indirectly accessed through links in the site, included but not limited to any errors in or omission therefrom.</li>
        <li>The unavailability of this site or any portion thereof.</li>
        <li>Use of any equipment or software in connection with the site.</li>
        <li>Use of this site or actions of any other person using user’s password and/ or user name.</li>
        <li>Submissions or unauthorized use of any information(s)/ materials contained on the portal which may violate copyright laws, trademark laws, the law of privacy and publicity, certain communication statutes and regulations thereto and other applicable laws, rules and regulations.</li>
    </ul>
</div>