<div class="container2 padder">
    <h3>Homeload form</h3>
    <div class="row">
        
        <div class="col-xs-5">
            <p>
                <input type="text" class="form-control" placeholder="Name*" required>
            </p>
            <p>
                <input type="text" class="form-control" placeholder="City*" required>
            </p>
            <p>
                <input type="email" class="form-control" placeholder="Email Address*" required>
            </p>
            <p>
                <input type="tel" class="form-control" placeholder="Mobile*" required>
            </p>
            <p>
                <input type="number" class="form-control" placeholder="Loan Amount*" required>
            </p>
            
            <a class="btn btn-primary pull-right" href="">Submit</a>
        </div>
    </div>
</div>