<div class="container2 padder">
    <h3>Home loan</h3>
    <h4>End-User Corner</h4>
    <p>Buying your first home is one of the major decisions a person has to take in his lifetime. It is rare to find someone who pays the entire cost of home at one go thus taking a home loan is an essential part of any home buying endeavor. It’s a long journey, which involves many stages. The key to getting your home loan in a smooth way is being familiar with the entire home loan process and know from the experts how it’s done! </p>
    <p>Here are 10 things you must be aware of!</p>
    <p>1. Checklist for buying a home (Zero in on a Property, Arrange DP, Apply for Loan)<br>
    2. Understanding the basic terminologies (LTV as high as 90%)<br>
    3. Understanding the eligibility & loan types (SE profiles, Cash income customers can also apply) <br>
    4. Understanding CIBIL (Know your score & keep on improving it)<br>
    5. Factors to consider while comparing Home Loan options from various banks<br>
    6. Choosing the right home loan for you (LTV, Tenure, ROI, Pre-payments)<br>
    7. Whom can you take as co-app in your loan <br>
    8. What are the closure procedures (Certain banks offer “Zero” closure charge)  <br>
    9. You can ask for a pre-approval on loan before finalizing a property<br>
    10. Can apply for Loan assistance & counseling sessions for free to interact with the experts
    </p><br>
    <h4>NRI Corner </h4>
    <p>Getting a home loan is quite a task especially if you are an NRI. It might look simple in the bank's advertisement, but the fact is that there are a lot of hiccups in the entire process. Getting your funds arranged, documentations sorted and then there’s the everlasting dilemma of Interest Rates! </p>
    <p>Here are the 10 new features that are available in Indian Hosing Loan Industry to make your home buying process a tad simpler. </p>
    <p>1. Ask for a “Required Documentation” checklist<br>
    2. Some companies offer an LTV as high as 90% of the total property price (below 20l)<br>
    3. You have the option to build up your down payment in-case you are falling a little short  <br>
    4. Know how you can save on interest components during your loan tenure4. Understanding CIBIL (Know your score & keep on improving it)<br>
    5. Some companies offers Loan process which is completely online<br>
    6. Unlimited prepayment facilities are also available via Net Banking & NEFT/RTGS<br>
    7. New options like Video branches via Skype are becoming a new trend <br>
    8. Can apply for Loan assistance & counseling sessions for free to interact with the experts  <br>
    9. Loan Tenure relaxed till 30 yrs. <br>
   10. Get pre-approvals on Loan even before finalizing a property    
    </p><br>
     <h4>Investor Corner </h4>
    <p>We understand you already own a property or two and you probably know the drill pretty well, but there are few things listed below might be a good option to check out before investing. </p>

    <p>1. The various types of Home Loans available<br>
    2. Should you go for a LOAN at-all?<br>
    3. Understanding CIBIL scores <br>
    4. ROI & DP amount<br>
    5. Appreciation on property (Area wise capital-gains) <br>
    6. Builder Details (as in approvals & projects delivered)<br>
   