<div class="container2 navigator">
    <div class="navigation pull-right">

        <ul class="nav nav-pills">
            <li class="{{homeactive}}"><a href="#">Home</a>
            </li>
<!--
            <li><a href="#/about">About Us</a>
            </li>
-->
            <li><a href="#/howitworks">How It Works</a>
            </li>
            <li><a href="#/homeloan">Home Loan</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a>Documentation Checklist</a></li>
                    <li><a>Apply for Home Loan name <!--city mobile email loan amount--></a></li>
                </ul>
            </li>
            <li><a href="#/nri">NRI Corner</a>
            </li>
            
            <li><a href="#calculator">Calculators</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a>EMI Calculator</a></li>
                    <li><a>Amountisation Calculator</a></li>
                    <li><a>Area Calculator </a></li>
                </ul>
            </li>
<!--
            <li><a href="#/capitalgain">Capital Gains Index</a>
            </li>
-->
            <li><a href="http://blog.indiavaluehomes.com/">Blog</a>
            </li>
            <li><a href="#/contact">Contact Us</a>
            </li>
        </ul>
    </div>
</div>
