<div class="container2 padder">
<h3>FAQ</h3>
<h4>Who is an Non-resident Indian (NRI)?</h4>
<p>An Indian citizen who stays abroad for employment/carrying on business or vocation outside India or stays abroad under circumstances indicating an intention for an uncertain duration of stay abroad is a non-resident. (Persons posted in U.N. organisations and officials deputed abroad by Central/State Governments and Public Sector undertakings on temporary assignments are also treated as non-temporary assignments are also treated as non-residents). Non-resident foreign citizens of Indian origin are treated on par with non- resident Indian citizens (NRIs).</p>

<h4>Who is a PIO?</h4>
<p>A person of Indian origin means an individual (not being a citizen of Pakistan or Bangladesh or Sri Lanka or Afghanistan or China or Iran or Nepal or Bhutan) who:
    <ul>
        <li>held an Indian Passport at any time, or</li>
        <li>who or whose father or paternal grand father was a citizen of India by virtue of the Constitution of India or the Citizenship Act, 1955</li>
    </ul>
</p>

<h4>What are the various facilities available to NRIs / OCBs?</h4>
<p>NRIs/OCB's are granted the following facilities:
    <ol>
        <li>Maintenance of bank accounts in India</li>
        <li>Investments in securities/shares of, and deposits with, Indian firms/companies</li>
        <li>Investments in immovable properties in India</li>
    </ol>
</p>

<h4>Who can purchase immovable property in India?</h4>
<p>A.1 Under the general permission available, the following categories can freely purchase immovable property in India:
    <ol>
        <li>Non-Resident Indian (NRI) - that is a citizen of India resident outside India</li>
        <li>Person of Indian Origin (PIO) - that is an individual (not being a citizen of Pakistan or Bangladesh or Sri Lanka or Afghanistan or China or Iran or Nepal or Bhutan), who</li>
    </ol>
    <ol>
        <li>at any time, held Indian passport, or</li>
        <li>who or either of whose father or grandfather was a citizen of India by virtue of the Constitution of India or the Citizenship Act, 1955 (57 of 1955).</li>
    </ol>
    The general permission, however, covers only purchase of residential and commercial property.</p>

<h4>Can NRIs sell properties in India without Reserve bank's permission?</h4>
<p>Yes</p>

<h4>Can NRIs acquire or dispose residential property by way of gift?</h4>
<p>Yes, the Reserve Bank has granted general permission to NRIs to acquire or dispose of NRI India Properties by way of gift from or to a relative who may be an Indian citizen or a person of Indian origin (PIO) whether resident in India or not.</p>

<h4>Can NRIs acquire commercial properties in India?</h4>
<p>Yes, under the general permission granted by the Reserve Bank, property other than agricultural land/farm house/plantation property can be acquired by NRIs provided the purchase consideration is met either out of inward remittances in foreign exchange through normal banking channels or out of funds from the purchaser's NRE/FCNR accounts maintained with banks in India and a declaration is submitted to the Central Office of Reserve Bank in form IPI 7 within a period of 90 days from the date of purchase of the property/final payment of purchase consideration.</p>

<h4>Can NRIs obtain loans for acquisition of a house / flat for residential purpose form financial institutions providing housing finance?</h4>
<p>The Reserve Bank has granted some general permission to certain financial institutions providing housing finance e.g. HDFC, LIC Housing Finance Ltd., etc, and authorized dealers to grant housing loans to NRI nationals for acquisition of a NRI house/flat for self-occupation subject to certain conditions. Criteria regarding the purpose of the loan, margin money and the quantum of loan will be at par with those applicable to resident Indians. Repayment of the loan should be made within a period not exceeding 15 years, out of inward remittance through banking channels or out of funds held in the investors' NRE/FCNR/NRO accounts.</p>
</div>