<div class="container2 padder">



  <div class="links">
    <h3>Sitemap</h3>
    <div class="row">
 <div class="col-md-4">
    <h4>Indiavaluehomes Links</h4>
    <a href="#/"><li>Home</li></a>
    <a href="#/howitworks"><li>How ITs Work</li></a>
    <a href="#/homeloan"><li>Home Loan</li></a>
    <a href="#/nri"><li>NRI Corner</li></a>
    <a href="#/housingindex"><li>Housing Index</li></a>
   
</div>
<div class="col-md-4">
<div class="others-link">
 <h4>Real Estate in India</h4>
      <a href="http://www.indiavaluehomes.com/#/page/2"><li>Real Estate In india</li></a>
    <a href="http://www.indiavaluehomes.com/#/page/4"><li>pune Real Estate</li></a>
    <a href="http://www.indiavaluehomes.com/#/page/5"><li>Bengaluru Real Estate</li></a>
    <a href="http://www.indiavaluehomes.com/#/page/7"><li>Coimbatore Real Estate</li></a>
    <a href="http://www.indiavaluehomes.com/#/page/8"><li>Chennai Real Estate</li></a>
  

</div>
</div> 
<div class="col-md-4">
<div class="others-link">
 <h4>Others Links</h4>
      <a href="http://blog.indiavaluehomes.com/"><li>Blog</li></a>
    <a href="#/contact"><li>Contact Us</li></a>
    <a href="#calculator"><li>Calculator</li></a>
    <a href="http://www.indiavaluehomes.com/#/page/1"><li>Glossary</li></a>
    <a href="http://www.indiavaluehomes.com/#/page/3"><li>Affordable Homes</li></a>
    <a href="#/disclaimer"><li>Disclaimer</li></a>
    <a href="#/terms"><li>Terms Of Use</li></a>

</div>
</div> 
</div> 
</div>

</div>