<div class="container2 padder">
<h4></h4>
    <p>Congratulations for selecting your dream home. Now you can book your dream home with just Rs.25,000/- The booking amount ensures your dream home is protected from any price escalation for 30 days. For details contact <a href="mailto:sales@indiavaluehomes.com">sales@indiavaluehomes.com</a>. Our representative will contact you for the next steps.</p>
<p>The cheque will have to be drawn in the name of the developer/builder . We will only facilitate the process of booking.</p>
</div>