<div class="content">
    <div class="container2">
        
        <h5 ng-hide="videos==''" id="video">All Videos</h5>
        <div class="row" ng-repeat="video2 in videos">
                               
            <div class="divider" ng-repeat="video in video2">
                <div class="col-xs-4">
                    <iframe width="360" height="215" src="{{'//www.youtube.com/embed/'+video.youtube|trusted}}" frameborder="0" allowfullscreen>
                    </iframe>
                </div>
                <div class="col-xs-2">
                    <p class="address label2">
                        Location:
                        <br>{{video.name}}
                        <br>Description:
                        <br>{{video.description}}
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>
</div>